

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

iframe {
    width: 100%;
    margin-right: auto;
    margin-top:70px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 4rem;
    margin-top: 1em;
    margin-bottom: .3em;
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
}

h1,p {
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header {
    background-color: #f5f5f5; /* Light grey background */
    padding: 20px;
    text-align: center;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #666; /* Medium grey link color */
}

h2 {
    font-family: 'Playfair Display';
    text-align: center;
    margin-top: 20em;
    font-size: 30px;
}

#description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    margin-inline: auto;
    justify-content: center;
}

#description-dumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-arrow {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    max-width: fit-content;
    margin-inline: auto;
    justify-content: center;
}

.scroll-arrow img {
    width: 50px; 
}

.beginners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.beginner-button {
    background-color: #339DFF;
    color: white;
    width: 170px;
    border-radius: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
    transition: all 0.3s;
}

.beginner-button:hover {
    cursor: pointer;
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
    margin-left: auto;
    margin-right: auto;
}