<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        #blocklyDiv {
            flex: 1;
            width: 100%;
        }

        #runCodeButton {
            height: 40px;
            width: 100%;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
        }

        #runCodeButton:hover {
            background-color: #45a049;
        }

        .none {
            display: none;
        }

        .flex {
            display: flex;
        }
    </style>
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script src="https://unpkg.com/blockly/javascript_compressed"></script>
    <script>

        // Define the custom blocks
        Blockly.Blocks['preprocess_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Start Block");
                this.setNextStatement(true, null);
                this.setColour(230);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['conv_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Convulutional Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['max_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Max Pooling Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['active_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Activation Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['drop_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Dropout Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['average_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Average Pooling Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['flat_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Flatten Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['output_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Output Layer");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['custom_block_middle8'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Middle Block 8");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['custom_block_middle9'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Middle Block 9");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['custom_block_middle10'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Middle Block 10");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['summary_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Model Summary");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['build_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Compile Model");
                this.setPreviousStatement(true, null);
                this.setNextStatement(true, null);
                this.setColour(160);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };

        Blockly.Blocks['train_layer'] = {
            init: function () {
                this.appendDummyInput()
                    .appendField("Train Model");
                this.setPreviousStatement(true, null);
                this.setColour(120);
                this.setTooltip("");
                this.setHelpUrl("");
            }
        };
        let csv = "";
        // Define the JavaScript code generation for the custom blocks
        javascript.javascriptGenerator.forBlock['preprocess_layer'] = function (block, generator) {
            var code = 'preprocess_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['conv_layer'] = function (block, generator) {
            var code = 'conv_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['max_layer'] = function (block, generator) {
            var code = 'max_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['active_layer'] = function (block, generator) {
            var code = 'active_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['drop_layer'] = function (block, generator) {
            var code = 'drop_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['average_layer'] = function (block, generator) {
            var code = 'average_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['flat_layer'] = function (block, generator) {
            var code = 'flat_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['output_layer'] = function (block, generator) {
            var code = 'output_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['custom_block_middle8'] = function (block, generator) {
            var code = 'custom_block_middle8';
            return code;
        };

        javascript.javascriptGenerator.forBlock['custom_block_middle9'] = function (block, generator) {
            var code = 'custom_block_middle9,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['custom_block_middle10'] = function (block, generator) {
            var code = 'middle-block-10,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['summary_layer'] = function (block, generator) {
            var code = 'summary_layer,';
            return code;
        };

        javascript.javascriptGenerator.forBlock['build_layer'] = function (block, generator) {
            var code = 'build_layer';
            return code;
        };

        javascript.javascriptGenerator.forBlock['train_layer'] = function (block, generator) {
            var code = 'train_layer,';
            return code;
        };

        // Initialize Blockly workspace
        function initBlockly() {
            var workspace = Blockly.inject('blocklyDiv', {
                toolbox: document.getElementById('toolbox'),
                grid: {
                    spacing: 20,
                    length: 3,
                    colour: '#ccc',
                    snap: true
                }
            });

            // Add event listener to button
            // Add event listener to button
            // Generate a random number
            

            // Define the directory where the images are stored

            // Create an array of image filenames
            var imageFilenames = [
                "{{ url_for('static', filename='images/image.png') }}",
                "{{ url_for('static', filename='images/image2.png') }}",
                "{{ url_for('static', filename='images/image3.png') }}",
                "{{ url_for('static', filename='images/image4.png') }}",
                "{{ url_for('static', filename='images/image5.png') }}",
                "{{ url_for('static', filename='images/image6.png') }}",
                "{{ url_for('static', filename='images/image7.png') }}",
            ];
            var randomNumber = Math.floor(Math.random() * 7) + 1;
            // Get a random image filename from the array
            var randomImageFilename = imageFilenames[randomNumber - 1];

            // Set the source of the image element to display the random image
            document.getElementById("randomImage").classList.add("none");

            document.getElementById('runCodeButton').addEventListener('click', function () {
                document.getElementById("randomImage").src = "";
                document.getElementById("randomImage").src = randomImageFilename;
                document.getElementById("randomImage").classList.add("flex");
                console.log(randomImageFilename);
                console.log(randomNumber);
                const jsCode = javascript.javascriptGenerator.workspaceToCode(workspace);
                console.log(jsCode); // Logs the generated code
                console.log('Sending code to backend...');
                try {
                    fetch("/compile_model", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ code: jsCode })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                } catch (e) {
                    console.error(e);
                }
            });
            // document.getElementById('runCodeButton').addEventListener('click', function() {
            //     const jsCode = javascript.javascriptGenerator.workspaceToCode(workspace);
            //     console.log("worksplace");
            //     console.log(jsCode); // Logs the generated code
            //     console.log('Running code...');
            //     try {
            //     eval(jsCode); // Executes the generated code
            //     } catch (e) {
            //     console.error(e);
            //     }
            // });
        }

        window.addEventListener('load', initBlockly);
    </script>
</head>

<body>
    <div id="blocklyDiv"></div>
    <button id="runCodeButton">Run Code</button>
    <xml id="toolbox" style="display: none">
        <category name="NN Blocks" colour="120">
            <block type="preprocess_layer"></block>
            <block type="conv_layer"></block>
            <block type="max_layer"></block>
            <block type="active_layer"></block>
            <block type="drop_layer"></block>
            <block type="average_layer"></block>
            <block type="flat_layer"></block>
            <block type="output_layer"></block>
            <block type="custom_block_middle8"></block>
            <block type="custom_block_middle9"></block>
            <block type="custom_block_middle10"></block>
            <block type="summary_layer"></block>
            <block type="build_layer"></block>
            <block type="train_layer"></block>
        </category>
    </xml>
    <div class="plot-container" style="align-items: center; justify-content: center;">
        <img id="randomImage" src="" alt="Img" style="margin-left: auto; margin-right: auto;">
    </div>
</body>
</body>

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training History Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body> 
    <canvas id="trainingChart" width="600" height="400"></canvas>
    <script src="chart.js"></script>  -->
</body>
</html> 


</html>